{{>layout/header}}

<div class="status-bar">

    <div class="container-fluid" id="main">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-light pl-0" id="sidebar" role="navigation">
            </div>
            <!-- 목록 출력 영역 -->
            <div class="col main pt-5 mt-3">
                <br>
                <div class="col-md-6">
                    <a href = "/posts/save" role="button"
                       class="btn btn-primary">글 등록</a>
                </div>
                <br>
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>게시글번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>최종수정일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#posts}}
                        <tr>
                            <td>{{id}}</td>
                            <td><a href="posts/update/{{id}}">{{title}}</a></td>
                            <td>{{author}}</td>
                            <td>{{modifiedDate}}</td>
                        </tr>
                    {{/posts}}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
</div>

{{>layout/footer}}

